@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeeSeoyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  text-align: center;
}

#title {
  margin-top: 50px;
  font-family: "EF_jejudoldam";
  font-weight: lighter;
}

.menuItem {
  height: 100px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "LeeSeoyun";
}
